{% extends "base.html" %}

{% block main %}
<div class="row">
	<div class="col-md-12">
		<h1>Committee</h1>
		<small>Search the speech database by committee</small>
	</div>
</div>
<br clear="all">
<div class="row">
	<form method="POST" action="/committee">
		<div class="col-md-3">
			<select name="committee_id" class="form-control" id="committee">
				<option value="">All committees</option>
				{% for committee in committees %}
				<option value="{{committee.committee_id}}" {% if selected_committee == committee %}selected{%endif%}>{{committee.committee_name}}</option>
				{% endfor %}
			</select>
			<small></small>
		</div>
		<div class="col-md-2">
			<button type="submit" style="width:100%;" class="btn btn-primary" id="filter-btn"><b>Filter</b></button>
		</div>
	</form>
</div>

<br>
<div>
	{% include "results.html" %}
</div>
{% endblock %}