{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Show Committees</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  <ul>
    {% for c in committees %}
    <li>{{ c.committee_name }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
