<form method="POST" action="/">
	 <div class="row">
		<div class="col-md-12">
			<input name="name" class="form-control" type="text" placeholder="Enter a name" value="{{selected.name}}" id="speaker"/>
			<small>Try rubio, shinkman, murray, brown</small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<input type="text" id="committee"  class="form-control" placeholder="Enter a committee name" value="{{selected.committee_name}}"/>
			<small></small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<select name="party" class="form-control" id="party">
				<option value="">All parties</option>
				<option value="D">Democrats</option>
				<option value="I">Independents</option>
				<option value="R">Republicans</option>
				<option value="None">Unspecified</option>
			</select>
			<small></small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<select name="party" class="form-control" id="state">
				<option value="">All states</option>
			</select>
			<small></small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<input name="district" type="text" id="district" class="form-control" placeholder="Enter a district"/>
			<small></small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<select name="year" class="form-control" id="year">
				<option value="">All years</option>
			</select>
			<small></small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<select name="quintile" class="form-control" id="quintile">
				<option value="">All quintiles</option>
			</select>
			<small></small>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button style="width:100%;" class="btn btn-primary" id="filter-btn"><b>Filter</b></button>
		</div>
	</div>
</form>